<h1>Listing posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @posts %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
